/* Login Section Styles */
.login-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(300px, 90vw, 500px);
  height: 100vh;
  justify-self: self-start;

}


.loginframe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 710px;
  max-width: 500px;
  width: 100%;
  background: url(../assets//login-side.png) no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 12;
}

.login-content {
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .18);
  max-width: 500px;
  padding: 25px 35px;
  width: 100%;
  background-color: white;
}

.login-frame-img {
  position: absolute;
  z-index: -55;
  top: 45%;
  right: -100px;
}




/* Mobile Design - Login specific */
@media (max-width: 768px) {
  .login-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1.5vh 0.8rem; */
    width: 100%;
    min-height: 100vh;
    margin: 0;
  }


  .login-frame-img {
    position: absolute;
    right: -80px;
  }
}

@media (max-width: 640px) {}

/* @media (max-width: 480px) {
  .login-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
  }

  .login-card {
    width: 100%;
    max-width: 350px;
    padding: 1.5rem;
    height: auto;
    margin: 0;
    border-radius: 15px;
  }

  
} */



@media (max-width: 460px) {
  .loginframe{
    height: 690px;
  }
    .login-frame-img {
    right: -75px;
  }
}



@media(max-width:400px) {
  .loginframe{
    height: 650px;
  }
  .login-frame-img {
    right: -75px;
  }
}